body.super-mode {
    background: radial-gradient(circle at center, hsl(0, 100%, 50%), hsl(20, 100%, 50%), hsl(40, 100%, 50%), hsl(60, 100%, 50%), hsl(80, 100%, 50%), hsl(100, 100%, 50%), hsl(120, 100%, 50%), hsl(140, 100%, 50%), hsl(160, 100%, 50%), hsl(180, 100%, 50%), hsl(200, 100%, 50%), hsl(220, 100%, 50%), hsl(240, 100%, 50%), hsl(255, 100%, 50%));
}

caption {
    font-weight: 900;
    margin-bottom: 10px;
}

button {
    background-color: black; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}

#player-text {
    text-align: left;
}

.numbering {
    font-weight: 900;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.white-box {
    width:20px;
    height: 20px;
    margin: 5px;
    background: white;
    float:left;
}

.black-box {
    width:20px;
    height: 20px;
    margin: 5px;
    background: black;
    float:left;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    overflow: hidden;
}

#big_red_button {
    background-color: red;
    color: black;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 50px;
}

#scoresheet {
    width: 600px; 
    /* height: 600px; */
    /* float: right; */
    margin-right: 50px;
}

#myCanvas {
    display: block;
    margin: auto;
}

#player {
    text-align: left;
}